<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-base-content">
        AI Financial Advisor
      </h1>

      <div class="py-6">
        <%= if @current_user do %>
          <p class="text-lg text-base-content">
            Welcome, <strong><%= @current_user.email %></strong>!
          </p>
          
          <.link
            href={~p"/logout"}
            method="delete"
            class="btn btn-error mt-4" >
            Log Out
          </.link>
        <% else %>
          <p class="text-lg text-base-content">
            Please log in to continue.
          </p>

          <.link
            href={~p"/auth/google"}
            class="btn btn-primary mt-4" >
            Login with Google
          </.link>
        <% end %>
      </div>
    </div>
  </div>
</div>